<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container" style="color:white">
					FACESPACE
					<% if @current_user %>
						: Logged in as <%= @current_user.name %>
					<% end %>
			<nav>
				<ul class="nav nav-pills pull-right">
					<li><%= link_to "Home", "/" %></li>
					<% if @current_user %>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Profile", "/users/#{@current_user.id}" %></li>
								<li><%= link_to "Settings", "/users/#{@current_user.id}/edit" %></li>
								<li class="divider"></li>
								<li><%= link_to "Logout", "/logout" %></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Login", "/login" %></li>
						<li><%= link_to "Signup", "/signup" %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>